{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            background: #1bc2a2;
        }

        ul li {
            display: block;
            position: relative;
            float: left;
            background: #1bc2a2;
        }

        /* This hides the dropdowns */


        li ul {
            display: none;
        }

        ul li a {
            display: block;
            padding: 1em;
            text-decoration: none;
            white-space: nowrap;
            color: #fff;
        }

        ul li a:hover {
            background: #2c3e50;
        }

        /* Display the dropdown */


        li:hover>ul {
            display: block;
            position: absolute;
        }

        li:hover li {
            float: none;
        }

        li:hover a {
            background: #1bc2a2;
        }

        li:hover li a:hover {
            background: #2c3e50;
        }

        .main-navigation li ul li {
            border-top: 0;
        }

        /* Displays second level dropdowns to the right of the first level dropdown */


        ul ul ul {
            left: 100%;
            top: 0;
        }

        /* Simple clearfix */



        ul:before,
        ul:after {
            content: " ";
            /* 1 */
            display: table;
            /* 2 */
        }

        ul:after {
            clear: both;
        }
    </style>
{% endblock %}


{% block body %}

    <ul class="main-navigation">
        {% for cat in mainCategories %}
            <li>
                <a href="/{{cat.slug}}">{{cat.title}}</a>
                {% if cat.children %}
                <ul>
                    {% for ch in cat.children %}
                    <li>
                        <a href="/{{ch.slug}}">{{ch.title}}</a>
                        {% if ch.children %}
                        <ul>
                            {% for ch2 in ch.children %}
                            <li><a href="/{{ch2.slug}}">{{ch2.title}}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% block page_contents %}{% endblock %}
{% endblock %}
